<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
    
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
    <a class="navbar-brand" >Store</a>
</nav>
  <style>
      *{
          margin: 0;
          padding: 0;
      }
    img{
  height: 200px;
}
     .navbar-brand{
  font-family: cursive !important;
  margin-left: 45%;
  font-size: 50px !important;
  
}
#nav{
background-color: #F08080 !important ;

}
.card{
  margin-top: 3%;
  margin-left: 3%;
}

#btn{
  color: #DCDCDC;
  border-color:#DCDCDC ;
  
}

.form-control{
  width: 35% !important;

}
  </style>
</head>
<body>
    <form class="card" style="width: 18rem;" id="white" action="/add" method="POST">
        <div class="shadow-lg p-3 mb-5 bg-white rounded" >
                <div class="input-group mb-3" >
                   
                <form action="/add" method="POST" id="for">
<img src="https://lh3.googleusercontent.com/proxy/g8q4fgFi07fzRtmeDMnBy94ii1QzJOl3jhP97sKff3Sb8SXraMVtPu-EkBJQtziBOq9FCNAQxOEHUgjg0dnrQvlpGf8AFQDGv2y0FVtcwuiRiW8vHfZzwNor-cfcCxzBE1zOf-PbJgBN9PM" alt="">                              


</form>	
</body>
</html>